.highscores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.highscores ul {
  padding: 0;
}
.highscores li {
  margin: 0.25rem 0;
}
